<%= javascript_include_tag "fullcalendar/fullcalendar.js" %>
<%= stylesheet_link_tag    "fullcalendar", :media => "all" %>
<div id='calendar'></div>
<div class="controls">
  <input type="text" name="patientName" id="patientName" tyle="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[&quot;Value 1&quot;,&quot;Value 2&quot;,&quot;Value 3&quot;]">
  <input type="hidden" id="apptStartTime"/>
  <input type="hidden" id="apptEndTime"/>
  <input type="hidden" id="apptAllDay" />
</div>
<script type="text/javascript">
  $(document).ready(function() {
      // page is now ready, initialize the calendar...

      $('#calendar').fullCalendar({
            header: {
              left: 'prev,next today',
              center: 'title',
              right: ''
            },
            selectable: true,
            editable: true,
            allDay: false,
            events: function(start, end, callback) {
              var events = [];

              var result = null;
              $.ajax({
                url: 'workouts.json',
                type: 'get',
                async: false,
                success: function(data) {
                    result = data;
                } 
               });

              existing_events = [];
              for (var i = 0; i < result.length; i++) {
                var event = {
                  title: result[i].workout.workflow_state,
                  start: result[i].workout.start_date,
                  end: result[i].workout.end_date,
                  color: 'green'
                };
                existing_events.push(event);
              };

              return callback(existing_events);
            },
            eventDataTransform: function(model) {
              console.log("in data transform");
              return {
                title: model.workout.workflow_state,
                start: model.workout.start_date,
                end: model.workout.end_date,
                color: 'green'
                // must add the 'url' attribute here, will be link to modal window
              };
            },
            select: function(start, end, allDay) {
              formatted_date = moment(start).format('dddd MMMM Do, YYYY');
              $.fancybox({
                href : 'workouts/new',
                type : 'ajax',
                afterLoad   : function() {
                    this.inner.prepend( '<h3>' + formatted_date + '</h3>' );
                    //console.log($(".fancybox-inner #end_date")); //can use this to set start and end time for existing events (do a check if exists)
                }
              });
              $('#calendar').fullCalendar('refetchEvents');
            },
            // eventRender: function( event, element, view ) { 
            //   console.log("rendering event");
            // },
            // events: 'https://www.google.com/calendar/feeds/k6j4jr011punucv77ftguqfe54%40group.calendar.google.com/public/basic',
            // dayClick: function(date) {
            //     //console.log(moment(date).format("MMM Do YY"));
            //     $('#calendar').fullCalendar('refetchEvents')
            // },
            eventClick: function(event) {
              //console.log(event);
              formatted_date = moment(event.start).format('dddd MMMM Do, YYYY');
              $.fancybox({
                href : 'workouts/new',
                type : 'ajax',
                beforeLoad: function() {
                    $(this.element).find("#end_date").val("13:00");
                },
                afterLoad   : function() {
                    this.inner.prepend( '<h3>' + formatted_date + '</h3>' );
                    $(this.element).find("#end_date").val("13:00")
                    //console.log($(".fancybox-inner #end_date"));
                }
              });
            }
      });
  });
</script>

