<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '16x6' });
   });
</script>

<style type="text/css">

  .avatar{
    border: 2px solid black;
    margin-right: 62px;
  }
  .match{
    width: 200px;
    margin-left: 5px;
    display: inline-block;
    float: left;
    padding: 10px;
    -webkit-filter: grayscale(100%);
    }

  .match:hover{
    -webkit-filter: grayscale(0%);
  }

  .text{
    margin-top: 5px;
    margin-left: 15px;

  }


</style>

<div class = "match_content">
  <% @users.each do |user| %>

  <div class='match'>
    <div><%= link_to image_tag(user.avatar.thumb, :class => "avatar"), user %></div>
    <div class = 'text'><%= link_to user.name, user %> | <%= user.workout_goal %></div>
  </div>
  <% end %>
</div>






