
<style type="text/css">
  .avatar{
    border: 2px solid black;
    margin-right: 62px;
  }
</style>



<% @users.each do |user| %>
  <div><%= image_tag(user.avatar.mini, :class => "avatar") %>
  <strong><%= user.name %></strong>
  :WORKOUT GOAL: <%= user.workout_goal %></br>
  <% user.photos.each do |p| %>
    <%= image_tag p.photo.thumb %></div>
  <% end %>
 <hr>
<% end %>




