<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '16x6' });
   });
</script>

<style type="text/css">
  .avatar{
    border: 2px solid black;
    margin-right: 62px;
  }
  .match{
    width: auto;
    border: black 1px solid;
  }
</style>


<% @users.each do |user| %>

<div class='match'>
  <div><%= image_tag(user.avatar.mini, :class => "avatar") %></div>
  <div><%= user.name %></div>
  <div><%= user.workout_goal %></div>

  <%# user.photos.each do |p| %>
    <%#= image_tag p.photo.thumb %>
  <%# end %>
</div>
<% end %>






