 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>

<h3>photo add and view</h3>

<%= render 'form' %>

<h1><%= @user.name %>'s Photos</h1>

 <% @photos.each do |photo| %>
        <div class = "show_photos"><%=image_tag(photo.photo.thumb)%></div>
    <% end %>

 