
<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '16x6' });
   });
</script>

<style type="text/css">

    #photo_content{
      margin-left: 30px;
    }
    .show_photos{
      display: block;
      float: left;
      margin-left: 75px;
    }

    .photo_slider{
      width:300px;
      height: 160px;
      margin-left: 180px;
      margin-top: 75px;
      /*border: 1px solid black;*/
    }


</style>
<div id ="photo_content">
  <h1>My Photos</h1>
  <%= render 'form' %>
</div>

  <div class="photo_slider" >
    <div id="featuredContent">
      <% @photos.each do |photo| %>
            <div class = "show_photos"><%=image_tag(photo.photo.thumb)%></div>
        <% end %>
    </div>
  </div>
