<h3>photo add and view</h3>

<%= render 'form' %>

<h1><%= @user.name %>'s Photos</h1>

 <% @photos.each do |photo| %>
        <div class = "show_photos"><%=image_tag(photo.photo.thumb)%></div>
    <% end %>
