/*
 *= require_self
 *= require 'reset.css'
 *= require 'foundation.min.css'
 *= require foundation-icons
 *= require jquery.ui.all
 *= require 'layout.css.scss'
 *= require 'photos.css.scss'
 *= require 'checkin.css.scss'
 */
