$red: #EF4130;
$white: #f4f3f1;
$gray: #2e2d2c;
$hover-gray: #d7d4d3;

body{
  font-family: 'Oswald', sans-serif;
  background-image:url('nasty-fabric.png');
}
header{
  width: 100%;
  background-color: $gray;
}
.container{
  background-color: #fff;
  height: 100%;
}
.columns{
  padding: 0px;
}
#gym-bar{
  width: 100%;
  margin-bottom: 0px;
}

#gym-bar li{
  float: right;
  padding: 20px;
  display: inline-block;
}

#gym-bar li a{
  font-weight: bold;
  color: $white;
  display: block;
  background-color: $gray;
  padding: 10px;
}

#gym-bar li a:hover{
  font-weight: bold;
  color: #000;
  display: block;
  background-color: $white;
  padding: 10px;
}
#submenu{
  padding: 20px;
}
#submenu li{
  padding: 5px 0px;
}
#submenu li:hover{
  color: $red;
  width: 100%;
}
#submenu a{
  color: $white;
}
#submenu a:hover{
  color: $red;
}
#content{
  background-color: $white;
}
#leader_board{
  color: $white;
  padding: 20px;
}

.h{
  min-height: 500px;
  height: 100%;
}

footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:55px;
  width:100%;
}

.clear{
  clear: both;
}